h1, h2, h3, h4 {
  text-align: left;
}

blockquote {
  font-style: italic;
}

hr {
    border: none;
}

.dropcaps,
.smallcapslede,
.smallcaps {
  font-variant: small-caps;
  text-transform: uppercase;
}

.dropcaps {
  font-size: 4em;
  float: left;
  margin-top: 0.15em;
  margin-right: 0.15em;
  line-height: 0.5em;
}

hr::before {
    content: '§';
    display: block;
    text-align: center;
}
